@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
a{
    text-decoration: none;
}

body{
    background-color: #F9F9F9;
    overflow-x: hidden;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

header{
    text-align: center;
}

.g2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 116, 255);
    color: white;
    height: 10vh;
}
.navegadorpop{
    border: none;
    text-align: center;
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    width: 6rem;
    align-items: center;
    color: rgb(42, 116, 255);
}
.navegador{
    border: none;
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    width: 6rem;
    align-items: center;
    color: rgb(42, 116, 255);
}

h1{
    padding: 2rem;
    font-size: 3rem;
}

.buscar{
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: #1c55bd;
    outline: none;
    color: white;
}
.buscas{
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    background-color: #1c55bd;
    outline: none;
    color: white;
}
.buscas i{
    color: white;
}

.g2 ::placeholder{
    color: white;
}

nav{
    padding: 0.8rem;
}

.user{
    width: 1rem;
    height: 1rem;
    color: rgb(42, 116, 255) !important;
}

.img{
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

}

.img:hover{
    scale: 1.02;
}

.textogrande{
    color: #F9F9F9;
    font-size: 2rem;
    text-align: center;
}

.textopequeno{
    color: #F9F9F9;
    font-weight: bold;
}

.noticiaTopo{
    margin-top: 50px;
    background: linear-gradient(#0000002d), url("../assets/teste.jpg");

    width: 80%;
    height: 25rem;
}

.divtexto{
    padding-left: 5%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.temanoticia{
    padding-left: 5%;
    padding-top: 3%;
}

.noticiamedia{
    background: linear-gradient(#0000002d), url("../assets/teste.jpg");
}
.secnoticiamedia{
    margin: 50px 0px 50px 0px;
    width: 80%;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.noticiapequena{
    background: linear-gradient(#0000002d), url("../assets/teste.jpg");
    width: 100%;
    height: 45%;

}

.noticia{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.parpequenas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer{
    background-color: rgb(42, 116, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    align-content: center;
}

.textofooter{
    color: white;
}

.voltar{
    cursor: pointer;
    background-color: transparent;
    border: #F9F9F9 solid 2px;
    border-radius: 10px;
    color: #F9F9F9;
    padding: 1rem;
    text-decoration: none;
    border: none;
}

.creditos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.criado{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80%;
    justify-content: center;
}

.g2p{
    font-size: 1.5rem;
}

.noticiasbaixo{
    height: 30rem;
    width: 80vw;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.parnoticiasbaixo{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: left;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.cardnoticiasbaixo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.noticiacombo{  
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.bdr{
    border-bottom: 1px solid rgba(201, 201, 201, 0.514);
}


.card{
    background-color: white;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #c9c9c983;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
}

.noticiasm{
    background: linear-gradient(#0000002d), url("../assets/teste.jpg");
    background-size: cover;
    height: 90%;
    width: 45%;
}

.textonoticia{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.4rem;
    height: 85%;
}

.nomesm{
    font-weight: bold;
}

.titulosm{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(42, 116, 255);
}

.subsm{
    color: rgb(42, 116, 255);
    font-weight: bold;
}

.hrsm{
    font-size: 0.9rem;
}

.cardsm{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.textocard{
    margin-left: 10px;
}

.imagemcard{
    margin-right: 10px;
}

.cardg{
    border-bottom: 1px solid #c9c9c983 ;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.noticiaxxs{
    background: linear-gradient(#0000002d), url("../assets/teste.jpg");
    background-size: cover;
    height: 80%;
    width: 40%;
}
.menu{
    display: none;
}
.containerpop{
    transition: 0.8s ease-in-out;
    background-color: rgba(0, 0, 0, 0.416);
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    opacity: 0;
    justify-content: space-between;
    align-items: start;
    z-index: 3;
}
.navmob{
    transition: 0.8s ease-in-out;
    width: 40%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 30px;
    transform: translateX(-100vw);
}
.nava{
    position: relative;
    width: 80%;
    text-align: center;
    cursor: pointer;
    color: #1c55bd;
}
.nava::after{
    transition: 0.5s ease-in-out;
      content: ""; /* Required for ::after to render */
    display: block; /* Makes the pseudo-element a block-level element */
    width: 0%; /* Spans the full width of the parent */
    border-bottom: 2px solid #1c55bd; /* Creates the line */
    margin-top: 5px; /* Adds space above the line */;
}
.nava:hover::after{
  width: 100%; /* Spans the full width of the parent */

}
.x{
    color: white;
    scale: 1.5;
    margin: 15px;
}

/*Responsivo*/

@media(max-width:750px){
    .secnoticiamedia{
        grid-template-columns: 1fr;
    }
    .noticiasbaixo{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
    .cardnoticiasbaixo{
        margin: 30px 0px 30px 0px;
        justify-content: center;
        height: 500px;
        
    }
    .parnoticiasbaixo{
        gap: 20px;

    }
    .textonoticia{
        height: 100%;
    }
    .cardg{
        flex-direction: column;
    }
    .parnoticiasbaixo{
        height: 100vh;
    }
    .noticiasm{
        width: 100%;
    }
    .noticiacombo{
        flex-direction: column;
    }
    .navegador{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        border: none;
        outline: none;
        padding: 3px;
        background-color: none;
    }
    .burg{
        color: #1c55bd;
        scale: 2;
    }
}

/*Pag Noticia*/
.mainnoticia{
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardMain{
    width: 80%;
    height: 90%;
    background-color: white;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.223);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.titulonoticia{
    width: 80%;
    font-weight:800;
    font-size: 2.8rem;
    text-align: center;
    margin: 0;
    padding: 0  ;
    margin-top: 20px;
}
.imgMain{
    width: 80%;
    height: 60%;
    border-radius: 10px;
}
.criado{
    color:#1c55bd;
    font-weight: bold;
    text-align: center;
}
.textoMain{
    width: 80%;
    height: 50%;
    text-align: justify;
    overflow-y:auto;
    padding-bottom: 10px;
}
@media(max-width:679px){
    .textoMain{
    width: 80%;
    text-align: justify;
    font-size: 0.8rem;
}
.cardMain{
    width: 90%;
}
.buscas{
    display: none;
}
}
.sectionmapa{
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sede{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    position: relative;
}
.sede::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 5px;
    width: 0%;
    background-color: #1c55bd;
    transition: width 0.3s ease-in-out;
}

.sede:hover::after {
    width: 100%;
}

footer{
    align-items: center;
}
@media(max-width:380px){
    .titulonoticia{
    font-size: 1.3rem;
}}