@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
.bodylog {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    overflow: hidden;
}

.cardLog {
    transition: 1s ease-in-out;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 65vh;
    width: 55vw;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.123);
}
.navegadorpop{
    border: none;
    text-align: center;
    background-color: transparent;
    padding: 1rem;
    cursor: pointer;
    width: 6rem;
    align-items: center;
    color: rgb(42, 116, 255);
}

.login {
    background-color: #0073FF;
    border-radius: 15px 0px 0px 15px;
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-items: center;
    align-content: center;
}

.astro {
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

input {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 50%;
    margin-bottom: 10px;
}

.email {
    margin-bottom: 30px;
}

.esqueci {
    color: white;
    font-size: 0.7em;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    outline: none;
}

.esqueci:hover {
    scale: 1.1;
}

.btn {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    background-color: #8d8d8d;
    color: white;
}

.titulo {
    color: white;
    font-size: 3rem;

}

@media(max-width:1240px) {
    .astro {
        display: none;
    }

    .cardLog {
        grid-template-columns: 1fr !important;
    }

    .login {
        border-radius: 15px;
    }

    .cardReg {
        grid-template-columns: 1fr !important;
    }
}


@media(max-width:500px) {

    .cardLog {
        width: 80%;
    }

    .cardReg {
        width: 80% !important;
    }

}

/*
INDEX______________FIM
*/
@keyframes scrollLog {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(auto);
    }
}

.cardReg {
    transition: 1s ease-in-out;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 65vh;
    width: 55vw;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.123);
    animation: scrollLog 1s ease-in-out;
}

.textlog {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-weight: bold;
}
@media(max-width:1240px) {

    .cardReg {
        grid-template-columns: 1fr !important;
    }
}

/*404*/
.main404{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.foot404{
    height: 10vh;
    width: 100vw;
    background-color: #0073FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo404{
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
}
.robo{
    width: 512px;
}
.btn404{
    background-color: rgba(0, 0, 0, 0.218);
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    color: white;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}
.btn404:hover{
    scale: 1.1;
}
@media(max-width:820px) {

    .robo{
        width: 256px;
    }
}